@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.core-header {
  display: flex;
  align-items: flex-start; /* Align to the top of the container */
  background-color: rgba(19, 19, 19, 0.3); /* Semi-transparent background */
  padding: 10px 20px; /* Adjust padding for the header */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 36px; /* Correct font size with unit */
  position: relative;
  width: auto;
  height: 100px;
  margin-left: 70px;
}

.ethereum-icon {
  height: 54px;
  width: 54px;
  margin-right: 20px; /* Adjust the right margin */
  margin-top: 10px;
  margin-left: 0; /* Adjust this if the icon needs a different position */
}

.header-content {
  display: flex;
  flex-direction: column;
}

.header-title {
  font-size: 30px;
  font-weight: 700; /* Ubuntu bold weight */
  margin-left: 0;
  margin-bottom: 10px;
}

.header-subtitle {
  font-size: 17px;
  font-weight: 400; /* Ubuntu regular weight */
  margin-top: 5px; /* Adjust margin for subtitle */
  margin-left: -60px;
  margin-bottom: 10px;
}
