.dashboard-container {
  display: flex;
  flex-direction: column;
}

.container {
  flex-direction: column;
  margin-left: 70px;
}
.upper {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.lower {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.supply-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.supply-modal {
  background: #ffffff; /* Or white, depending on your theme */
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  max-width: 600px;

}

.borrow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Same dim effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.borrow-modal {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 400px; /* or use min/max for responsiveness */
  padding: 24px;
  font-family: 'Ubuntu', sans-serif;
}

