.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121212;
  color: white;
}

.container {
  padding: 20px;
}

.upper, .lower {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.supply-overlay, .borrow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.supply-modal, .borrow-modal {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
