.dashboard-container {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  width: 100%;
  box-sizing: border-box;
  margin-left: 50px;
}

.container {
  flex-direction: column;
  margin-left: 70px;
  margin-bottom: 30px;
  width: calc(100% - 70px);
  box-sizing: border-box;
}

.upper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}

.lower {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}

.supply-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.supply-modal {
  background: #ffffff; /* Or white, depending on your theme */
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  max-width: 600px;
}

.borrow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Same dim effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.borrow-modal {
  background: #ffffff; /* Or white, depending on your theme */
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  max-width: 600px;
}

.withdraw-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.withdraw-modal {
  background: #ffffff; /* Or white, depending on your theme */
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  max-width: 600px;
}
