@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 20px;
  font-family: "Ubuntu", sans-serif;
  font-size: 36;
  width: auto;
}

.icon-group {
  display: flex;
  margin-left: 49px;
  margin-right: 100px;
}

.icon-box {
  display: flex;
  align-items: center; /* Center items vertically within the box */
  background-color: rgba(19, 19, 19, 0.3); /* Lighter purple for contrast */
  padding: 10px 10px;
  border-radius: 8px; /* Rounded corners for each icon box */
  margin-right: 25px; /* Space between the Net Worth and Net APY */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  width: auto;
  margin-top: 20px;

}

.icon-label {
  font-size: 16px;
  color: #ffffff;
  margin-right: 10px; /* Space between label and value */
  width: 100px;
}

.icon-value {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  width: auto;
}

.view-transaction-button {
  padding: 10px 20px;
  background-color: rgba(19, 19, 19, 0.3); /* Darker for the button */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.view-transaction-button:hover {
  background-color: black; /* Slightly darker on hover */
}
