@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

.sidebar-container {
  width: 240px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  margin-left: 35px;
  margin-top: 30px;
  position: relative;
}

.sidebar {
  width: 250px;
  height: fit-content;
  background-color: rgba(19, 19, 19, 0.3);
  color: white;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-y: auto;
  margin-left: 50px;
  margin-top: 50px;
}

.sidebar ul {
  padding: 20px;
  color: white;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  color: white;
  width: 190px;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #dddddf;
  border-radius: 15px;
  color: #1e1e2f;
}

.sidebar a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Keep same text color */
}

.sidebar img {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.sidebar .account-title {
  font-weight: bold;
  color: #f1f1f1;
  margin-left: 10px;
  padding-left: 0px;
}

.sidebar .account-title:hover {
  background-color: transparent;
}

/* MetaMask Connect Section */
.metamask-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
  background-color: #98a4e6;
  border-radius: 12px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  width: 190px;
  height: 40px;
  padding: 10px;
}

.metamask-connect-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.metamask-connect-btn:hover {
  background-color: #dddddf;
  color: #1e1e2f;
}

.wallet-display {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  background-color: transparent;
  border-radius: 10px;
  color: white;
}

.wallet-icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 2px;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
}

/* Liquidator */
.sidebar .liquidator-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #98a4e6;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 10px;
  color: white;
  width: 190px;
  height: 40px;
  margin-top: 15px;
  text-decoration: none;
}

.sidebar .liquidator-box:hover {
  background-color: #dddddf;
  color: #1e1e2f;
}

.liquidator-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.liquidator-btn:hover {
  background-color: #dddddf;
  color: #1e1e2f;
  border-radius: 15px;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay-content {
  position: relative;
  background-color: white;
  color: black;
  padding: 30px;
  padding-top: 35px;
  border-radius: 16px;
  text-align: left;
  width: 380px;
  height: 500px;
  box-shadow: 0 18px 12px rgba(0.4, 0.3, 0.3, 0.4);
}

.overlay-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: black;
  margin-bottom: 24px;
}

.close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.close-button:hover {
  transform: scale(1.2);
}

.asset-button {
  display: flex;
  align-items: center;
  background-color: rgb(208, 208, 208);
  padding: 12px 16px;
  border-radius: 12px;
  margin-bottom: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.asset-button:hover {
  background-color: #eaeaea;
}

.asset-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 12px;
}

.asset-name {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.asset-button.selected {
  background-color: #98a4e6;
  color: white;
}

.confirm-btn {
  background-color: black;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-btn:hover {
  background-color: #333;
}
