@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

/* Container for the activity */
.activity-containers {
  width: 500px;
  height: auto;
  background: rgba(19, 19, 19, 0.3);
  padding: auto;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

/* Header */
.supplies-header {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 12px;
}

.supplies {
  padding: 0px;
  border-radius: 10px;
  color: white;
  width: 470px; /* use relative width */
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}

/* Top info boxes */
.info-section {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  padding: 8px;
  gap: 8px;
}

.info-box {
  background: white;
  border-radius: 20px;
  padding: 10px 10px;
  font-weight: bold;
  color: black;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

/* Table Styling */
.s {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
}

/* Header styling */
.s thead {
  background-color: transparent; /* or use a header color if desired */
}

.s th {
  border-bottom: 1px solid white;
  font-size: 12px;
  text-align: left;
  padding-bottom: 4px;
}

/* Table rows */
.s tbody tr {
  background: transparent;
  line-height: 20px;
}

.s td {
  font-size: 12px;
  padding: 6px 0;
  color: white; /* Ensure text color is white */
}

/* Specific adjustments for columns */
.s th:nth-child(3),
.s td:nth-child(3) {
  width: 20px;
}

.s th:nth-child(2),
.s td:nth-child(2) {
  width: 90px; /* Adjust width as necessary */
}

.s th:nth-child(1),
.s td:nth-child(1) {
  width: 50px;
}

.s th:nth-child(4),
.s td:nth-child(4) {
  width: 50px;
}

/* Asset icon */
.asset-icon {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

/* Button styling */
.slink-button {
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #707070;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  cursor: pointer;
}

.slink-button:hover {
  background-color: #555;
  color: #fff;
}

/* Withdraw Button Styling */
.sWithdraw-button {
  background-color: #050505;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  text-align: right;
  font-family: "Ubuntu", sans-serif;
  margin-right: -35px;
  font-size: 12px;
}
